.card {
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
   
}


.card h2 {
    margin-bottom: 10px;
}

.bg-1 {
    background: #008B8B;
}

.bg-2 {
    background: #e0bce7; 
}

.bg-3 {
    background: #8FBC8F;
}

.bg-4 {
    background: #f4f8f7;;
}

.info {
    padding-left: 0;
}

