
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: gray;
}

.btn {
    background: #906f94;
    padding: 30px 10 px;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
    width: 200px;
    height: 30px;
    
}


.btn:hover {
    opacity: 0.8;
}

.list {
    padding: 0 20px;
}
.list li {
    color: rgb(0, 0, 0);
    margin-bottom: 9px;
}


.table {
    width: 100%;
    color: #000;
}

table th {
    padding-bottom: 10px;
    text-align: left;
}
.table td:nth-child(2),
.table td:nth-child(3)
 {
    color: rgb(0, 0, 0);
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex ;
    
}
    
.form-row, .form-group {
      /* display: inline-block; */
      margin-right: 20px;
      width: 100%;
      /* width: calc(50%-20px); */
}

.form-row, .form-group:last-child {
    margin-right: 1px ;
    
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row, .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}


.form-group label {
    display: block;
    font-size: 24 px;
    color: rgb(0, 0, 0);
}

.form-group input, textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: rgb(0, 0, 0);
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}


.info {
    margin-bottom: 30px;
    display: flex;
  }
  
  .info-text {
    margin-left: 40px;
  }
  
  .info-text p {
    font-style: italic;
    font-weight: bold;
    color: #000000;
    margin: 0;
  }
  
  .info-text h4 {
    margin-bottom: 10px;
  }
  
  @media (max-width: 650px) {
    .info {
      display: block;
      text-align: center;
    }
  }


  .navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: #d8c6da;
      margin: auto;
      font-size: 1rem;
      text-align: center;
      border-style: solid;
      border-top: none;
      border-left: none;
      border-right: none;
      border-width: 2px ;
      z-index: 1;
      
      
  }

